

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
		width: 100%;
	}

	.header-main {
		padding: 15px 0 15px 0;
	}

	.header-top-wrapper {
		margin: 0 auto 5px auto;
	}

	.header-text--small {
		margin: 10px 0 0 0;
	}

	.header-top-wrapper_logo {
		width: 30%;
	}

	.header-info_txt--email {
		font-style: 1em;
	}
	.header-info_txt--tel {
		font-size: 1.2em;
	}

	.menu {
		height: auto;
		width: 95%;
  		padding: 0;
	}

	.menu-link {
		font-size: 1.1em;
	}

	.menu-link__buy {
		padding: 10px 15px;
		height: auto;
	}

	.menu-link--btn_uppercase{
		font-size: 1em;
	}

	.menu-dark {
		width: 100%;
		padding: 10px 5px;
	}

	.menu-dark:before {
	    width: 15%;
	    height: 20px;
	    margin: 0 15px 0 0;
	}

	.menu-dark-list {
		width: 85%;
	}

	.menu-dark a {
		font-size: 1em;
	}

	.menu-dark .menu-link__buy {
		min-width: 160px;
		height: auto;
		display: flex;
		margin: 0 0 0 5px;
		justify-content: center;
		align-items: center;
		padding: 7px 0;
	    font-size: 0.8em;
	}

	.advantages-list {
		width: 95%;
	}



	.introduction {
		padding: 20px;
		background-position: right 10px bottom 10px;
	}
	.intriduction_txt, 
	.intriduction_about-html {
		font-size: 0.9em;
	}

	.intriduction_txt {
	    width: 100%;
	}

	.intriduction_about-html {
		width: 57%;
		margin: 0;
	}

	.intriduction_txt:after {
		width: 57%;
		margin: 18px 0;
	    border: 0.5px solid #c6c6c6;
	}








	




  
	  .course-price-wrapper {
	  	flex-wrap: wrap;
	  }


}